html{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

.title{
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
}